<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Document</title>
</head>


<body ng-app='ma'>
    <h1>My APP</h1>
    <div ng-controller='mc'>
        <div>
            {{name}} says {{sh()}}
        <div>
            <input type="text" ng-model='name' ng-keyup='disp();'>
            {{val}}
        </div>
        <div>
            <button ng-click='feed()'>feed</button>
            <br>
            <img ng-src="/image/{{state}}.jpg" alt="" width="500px" height="500px">
        </div>
    </div>
</body>


<!-- <body ng-app='di'>
    <h1>DI</h1>
    <div ng-controller='dc'>
        <div>
            <input type="text" ng-model='name' ng-blur='upper();'>
        </div>
    </div>
</body>

</html> -->