*{
  box-sizing: border-box;
  background-color: lightskyblue;
}
h1.haha{
    color:maroon;
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;
    font-weight:bold;
    font-size: 120%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    border: 5px solid black;
    margin: 50px;
    width: 500px;
    height: 100px;
    overflow: auto;
    background: darkblue url(https://www.w3schools.com/css/paris.jpg);
}
#section1,.external-nav-item{
  color:rgb(247, 0, 255);
}
body h1{
  color:rgb(255, 14, 14);
  font-size: 36px;
}
body > h1{
  color:rgb(14, 159, 255);
}
a:hover{
  background-color: black;
}
header a:nth-child(1){
  background-color: black;
}
#box{
  background-color: black;
  position: relative;
  top: 0px;
  left: 0px;
}
@media(min-width: 500px) and (max-width: 1000px){
  #box{
    width: 10%
  }
}
.row{
  margin: 15px;
  border: 5px solid black;
}

#header-nav{
  background-color: blue;
  border-radius: 0;
  border: 0;
}

.navbar-header{
  background: url("https://raw.githubusercontent.com/NYCPlanning/logo/master/dcp_logo_772.png") no-repeat;
  width: 800px;
  height: 300px;
  margin: 0 auto 15px;
}

.navbar-brand > a> h1{
  color: blue;
  font-size: 5vw
}

.navbar-brand > a> h1:hover{
  color: red;
  opacity: 0.1;
}

.container{
  height: 500px;
}