$lit-gray:#ddd;
$background-light:#ddd;
$jumboheight:300px;

@mixin zero-margin($pad-up-dn,$pad-left-right) {
    margin:0px auto;
    padding: $pad-up-dn $pad-left-right
}

.jumbotron{
    background: $background-light;
    .container{
        height:$jumboheight;
    }
}