.container-fluid{
    background-color: blue;
    color: red;
    padding: 0px;
}

.col-sm{
    border-width: 2px;
    border-style:solid;
    border-color: black; 
}

.jumbotron{
    background-color: blueviolet;
    text-align:center;
}



.breadcrumb{
    background-color: orange;
}